@inherits LayoutComponentBase
@inject NavigationManager Nav
@using Journal_Entry.Services
@inject SecurityService Security


<div class="page">
    <NavMenu />

    <main>
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var isPinSet = await Security.IsPinSetAsync();
        var currentUri = Nav.ToBaseRelativePath(Nav.Uri);

        if (isPinSet && !currentUri.StartsWith("lock"))
        {
            Nav.NavigateTo("/lock", true);
        }

        if (!isPinSet && !currentUri.StartsWith("setup"))
        {
            Nav.NavigateTo("/setup", true);
        }
    }
}
