<div class="sidebar-inner">
    <div class="sidebar-title">
        📔 Journal Entry
    </div>

    <nav class="sidebar-links">
        <NavLink href="" Match="NavLinkMatch.All" class="sidebar-link">
            🏠 Home
        </NavLink>

        <NavLink href="/journal" class="sidebar-link">
            ✍️ Today
        </NavLink>

        <NavLink href="/journals" class="sidebar-link">
            📚 All Journals
        </NavLink>
        <NavLink href="/dashboard" class="sidebar-link">
            📚 Dashboard
        </NavLink>
    </nav>
</div>
