<nav class="nav flex-column">
    <a class="nav-link text-white fw-bold mb-3">
        Journal Entry
    </a>

    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
        🏠 Home
    </NavLink>

    <NavLink class="nav-link text-white" href="/journal">
        📓 Today
    </NavLink>

    <NavLink class="nav-link text-white" href="/journals">
        📚 All Journals
    </NavLink>
</nav>
